$body-bg: #34485d;

$primary: #004b44;
$secondary: #06ad00;
$danger: #bcb2eb;
$success: #c77121;
$warning: #81807d;
$info: rgb(39, 51, 51);

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;


.bg-image {
  background:(
    linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url('https://www.wibidata.com/storage/2019/08/Page-Fault-in-Nonpaged-Area.jpg'));
    background-position:center top;
  background-position: center;
  background-size: cover;
  height: 100vh;
  
}

